* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.mouse-stalker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: exclusion;
}

.mouse-stalker > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    flex-shrink: 0;
}

body {
    font-family: cursive;
}

/* ごちゃごちゃしてるからもっと簡単にかけないかな？↓ */
.header-nav1 {
    background-color: #f9fafb;
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    left: 31.944vw;
    align-items: center;
}

.header-nav2 {
    z-index: 99;
    background-color: #f9fafb;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    left: 10.417vw;
    align-items: center;
}

.header-nav3 {
    z-index: 99;
    background-color: #f9fafb;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    left: 0vw;
}

.logo {
    display: flex;
    position: fixed;
    width: 4.792vw;
    left: 5vw;
}

nav {
    margin-right: 5%;
}

.red {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.black {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.black:hover {
    color: rgb(255, 0, 0);
}

.QyuuuM {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

.QyuuuM:hover {
    color: rgb(243, 0, 0);
    text-decoration: none;
}
/* ごちゃごちゃしてるからもっと簡単にかけないかな？↑ */

.left-block {
    z-index: 100;
    background-color: #ffffff;
    position: fixed;
    width: 2.083vw;
    height: 100vh;
    left: 0px;
}

.right-block {
    z-index: 100;
    background-color: #ffffff;
    position: fixed;
    width: 4.028vw;
    height: 100vh;
    right: 0vw;
}

.SNS-image-twitter {
    display: flex;
    position: fixed;
    width: 2.431vw;
    right: 0.764vw;
    top: 119px;
}

.SNS-image-facebook {
    display: flex;
    position: fixed;
    width: 2.569vw;
    right: 0.764vw;
    top: 182px;
}

.SNS-image-instagram {
    display: flex;
    position: fixed;
    width: 2.431vw;
    right: 0.764vw;
    top: 253px;
} 

.First {
    display: flex;
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: #fff;
}

.Professor {
    position: absolute;
    display: flex;
    color: black;
    left: 6.837vw;
    top: 227px;
    text-decoration: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 2px;
    transform: rotate(90deg);
}

.News-img1 {
    position: absolute;
    display: flex;
    width: 19.931vw;
    height: 215px;
    left: 22.361vw;
    top: 125px;
}

.News-word1 {
    position: absolute;
    display: flex;
    left: 22.361vw;
    text-decoration: none;
    top: 345px;
}

.kuwasiku1 {
    position: absolute;
    display: flex;
    left: 36vw;
    top: 500px;
}

.News-img2 {
    position: absolute;
    display: flex;
    width: 19.931vw;
    height: 215px;
    left: 45.556vw;
    top: 125px;
}

.News-word2 {
    position: absolute;
    display: flex;
    left: 45.556vw;
    text-decoration: none;
    top: 345px;
}

.kuwasiku2 {
    position: absolute;
    display: flex;
    left: 59vw;
    top: 500px;
}

.News-img3 {
    position: absolute;
    display: flex;
    width: 19.931vw;
    height: 215px;
    left: 68.75vw;
    top: 125px;
}

.News-word3 {
    position: absolute;
    display: flex;
    left: 68.75vw;
    text-decoration: none;
    top: 345px;
}

.kuwasiku3 {
    position: absolute;
    display: flex;
    left: 82.5vw;
    top: 500px;
}

footer{
    background-color: rgb(255, 255, 255);
}

.SNS-sharemark {
    display: flex;
    position: absolute;   
    width: 2.639vw;
    left: 40.056vw;
    top: 635px;
}

.sns-share-word {
    display: flex;
    position: absolute;  
    color: rgb(0, 0, 0);
    left: 46.458vw;
    top: 629px;
}
.SNS-image-twitter2 {
    display: flex;
    position: absolute;   
    width: 3.472vw;
    left: 42.083vw;
    top: 702px;
}

.SNS-image-facebook2 {
    display: flex;
    position: absolute;
    width: 3.889vw;
    left: 48.056vw;
    top: 694px;
}

.SNS-image-instagram2 {
    display: flex;
    position: absolute;
    width: 3.889vw;
    left: 54.444vw;
    top: 696px;
}
